{% extends "base.html" %}
{% load static %}

{% block title %}Pagina - Condominio {% endblock %}


{% block content %}

    <header class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center mt-5">Condomínios</h1>
                <p class="text-center">Acompanhe nossas Atualizações</p>
            </div>
        </div>
    </header> 


	<section class="container mt-3">
		<div class="d-flex justify-content-end">
			<form class="d-flex" role="search" id="search-form" method="GET" action="{% url 'condominio' %}">
				<input class="form-control me-2 search" name="q" id="search" value="{{search_value}}" type="search" placeholder="Titulo ou Condominio" aria-label="Search">
				<button class="btn btn-outline-primary" type="submit">Buscar</button>
			</form>
		</div>
		<!-- Mensagem de resultados não encontrados -->
		{% if no_results %}
			<div class="alert alert-primary mt-3" role="alert">
				Nenhum resultado encontrado para <b>"{{ search_value }}"</b>.				
			</div>
		{% endif %}
	</section>
	

	<main class="mt-3">
		<section class="container">
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Nº</th>
						<th scope="col">Condomino</th>
						<th scope="col">Titulo</th>
						<th scope="col">Descrição</th>
					</tr>
				</thead>
				<tbody>
					{% for condominio in page_obj %}
						<tr>
							{% comment %} <th scope="row">{{ forloop.counter }}</th> {% endcomment %}
							<th scope="row">{{ condominio.condominium_number }}</th>
							<td>{{ condominio.condominium_name }}</td>
							<td>{{ condominio.title }}</td>
							<td>
								<a href="#" data-bs-toggle="modal" data-bs-target="#modal{{ forloop.counter }}">
									Clique aqui <i class="fas fa-info-circle"></i>
								</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</section>
	</main>


	<!-- Modals -->
	{% for condominio in page_obj %}
		<div class="modal fade" id="modal{{ forloop.counter }}" tabindex="-1" aria-labelledby="modal1Label" aria-hidden="true">
			<div class="modal-dialog modal-lg modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="modal1Label">Título - {{ condominio.condominium_name }}</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body text-center">
						{% if condominio.image_condominium %}
							<!-- Se houver uma imagem postada para o condomínio, exibir a imagem normalmente -->
							<img src="{{ condominio.image_condominium.url }}" alt="..." class="img-fluid mb-3">
						{% else %}
							<!-- Se não houver imagem postada, exibir o Placeholder -->
							<img src="https://via.placeholder.com/300?text=PoterSystem" alt="Placeholder" class="img-fluid mb-3">
						{% endif %}
						<p>
							{{ condominio.description }}
						</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Fechar</button>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}

    

	<div class="container mt-3">
		<nav aria-label="Page navigation">
			<ul class="pagination justify-content-center">
				{% if page_obj.has_previous %}
					<li class="page-item">
						<a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
					</li>
				{% else %}
					<li class="page-item disabled">
						<span class="page-link">Anterior</span>
					</li>
				{% endif %}
	
				{% for num in page_obj.paginator.page_range %}
					{% if page_obj.number == num %}
						<li class="page-item active"><span class="page-link">{{ num }}</span></li>
					{% else %}
						<li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
					{% endif %}
				{% endfor %}
	
				{% if page_obj.has_next %}
					<li class="page-item">
						<a class="page-link" href="?page={{ page_obj.next_page_number }}">Próximo</a>
					</li>
				{% else %}
					<li class="page-item disabled">
						<span class="page-link">Próximo</span>
					</li>
				{% endif %}
			</ul>
		</nav>
	</div>
	

{% endblock  %}