{% extends "base.html" %}

{% block title %}Pagina - Inicial {% endblock %}

{% block content %}

	<header class="container">
		<div class="row">
			<div class="col-12">
				<h1 class="text-center mt-5">Atualização PoterSystem</h1>
				<p class="text-center">Acompanhe nossas Atualizações</p>
			</div>
		</div>
	</header>

	<main class="">
		<section class="container">
			  <div class="container mt-3">
				<div class="d-flex justify-content-end">
				  <form class="d-flex" role="search">
					<input class="form-control me-2" type="search" placeholder="Digite..." aria-label="Search">
					<button class="btn btn-outline-primary" type="submit">Buscar</button>
				  </form>
				</div>
			  </div>
			  
			  {% for condominio in condominios %}
				<div class="accordion mt-3" id="accordionExample">
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne{{ forloop.counter }}" aria-expanded="true" aria-controls="collapseOne{{ forloop.counter }}">
								<span class="bi bi-calendar3">
									<b>Título: </b>{{ condominio.title }} | <b>Data de Publicação</b> - {{ condominio.created_at|date:"d/m/Y H:i" }} 
								</span>
							</button>
						</h2>
						<div id="collapseOne{{ forloop.counter }}" class="accordion-collapse collapse {% if forloop.first %}show{% endif %}" data-bs-parent="#accordionExample">
							<div class="accordion-body">
								<p>{{ condominio.description }}</p>
							</div>
						</div>
					</div>
				</div>
			  {% endfor %}
		</section>  	
	  </main>

	  
	<section class="fixed-pagination">
		<nav aria-label="Page navigation example">
			<ul class="pagination d-flex justify-content-center mb-0">
				<li class="page-item">
					<a class="page-link" href="#" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
						<span class="sr-only">Anterior</span>
					</a>
				</li>
				<li class="page-item active"><a class="page-link" href="#">1</a></li>
				<li class="page-item"><a class="page-link" href="#">2</a></li>
				<li class="page-item"><a class="page-link" href="#">3</a></li>
				<li class="page-item">
					<a class="page-link" href="#" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
						<span class="sr-only">Próximo</span>
					</a>
				</li>
			</ul>
		</nav>
	</section>

{% endblock %}