{% extends "base.html" %}
{% load static %}
{% block title %}Pagina operacional {% endblock %}

{% block content %}
	
	<header class="container">
		<div class="row">
		<div class="col-12">
			<h1 class="text-center mt-5">Operacional</h1>
			<p class="text-center"></p>
		</div>
		</div>
	</header>    


	<main>       
		<section class="container mt-2">
			<div class="row justify-content-center">                
				{% for item in page_obj %}
					<div class="col-md-8 col-lg-6 mb-4">
						<div class="card h-100 mx-auto">
							{% if item.image %}
								<img src="{{ item.image.url }}" class="card-img-top fixed-size-img" alt="Imagem de Empresa">
							{% else %}
								<img src="https://via.placeholder.com/150?text=PoterSystem" class="card-img-top fixed-size-img placeholder" alt="Imagem de Placeholder">
							{% endif %}
							<div class="card-body">
								<h5 class="card-title">{{ item.title }}</h5>
								<p class="card-text">{{ item.description }}</p>
							</div>
						</div>
					</div>
				{% endfor %}    
			</div>    
		</section>		
    </main>

	 
	<section class="container mt-3">
		<nav aria-label="Page navigation">
			<ul class="pagination justify-content-center">
				{% if page_obj.has_previous %}
					<li class="page-item">
						<a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
					</li>
				{% else %}
					<li class="page-item disabled">
						<span class="page-link">Anterior</span>
					</li>
				{% endif %}
	
				{% for num in page_obj.paginator.page_range %}
					{% if page_obj.number == num %}
						<li class="page-item active"><span class="page-link">{{ num }}</span></li>
					{% else %}
						<li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
					{% endif %}
				{% endfor %}
	
				{% if page_obj.has_next %}
					<li class="page-item">
						<a class="page-link" href="?page={{ page_obj.next_page_number }}">Próximo</a>
					</li>
				{% else %}
					<li class="page-item disabled">
						<span class="page-link">Próximo</span>
					</li>
				{% endif %}
			</ul>
		</nav>
	</section>
	

{% endblock  %}

