{% extends "base.html" %}
{% load static %}

{% block title %}Página - Sobre {% endblock %}

{% block content %}
    <header class="container">
        <div class="row">
        <div class="col-12">
            <h1 class="text-center mt-5">Quem somos</h1>
            <p class="text-center"></p>
        </div>
        </div>
    </header>    

    <main class="container mt-3">
    <section>
        {% for item in sobre %}
            <div class="text-center">
                <img src="{{ item.image_company.url }}" class="imagem-padrao rounded img-fluid" alt="Imagem da empresa">
                <p class="text">
                    {{ item.description }}
                </p>
            </div>
        {% endfor %}
    </section>
    </main>
{% endblock %}