{% extends "base.html" %}
{% load static %}

{% block title %}Página - Sobre {% endblock %}

{% block content %}
    <header class="container">
        <div class="row">
        <div class="col-12">
            <h1 class="text-center mt-5">Empresa</h1>
            <p class="text-center"></p>
        </div>
        </div>
    </header>    

    <main class="container mt-3">
    <section>
        <div class="text-center">
            <img src="{% static "img/empresa.jpg" %}" class="imagem-padrao rounded img-fluid" alt="Imagem da empresa">
            <p class="text">
                A nossa empresa é líder no mercado de soluções tecnológicas, oferecendo serviços inovadores e de alta qualidade para atender às necessidades dos nossos clientes. Com uma equipe altamente qualificada e experiente, estamos comprometidos em fornecer soluções personalizadas e eficientes para impulsionar o sucesso dos nossos clientes. Além disso, valorizamos a transparência, a ética e a excelência em tudo o que fazemos. Conte conosco para transformar suas ideias em realidade e alcançar resultados extraordinários.
            </p>
        </div>
    </section>
    </main>
{% endblock %}